In [2]:
print("Alô Mundo!")

Alô Mundo!

In [3]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

In [4]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
# Módulo
from sqlalchemy import create_engine

In [6]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (1.1.1)

In [12]:
import pymysql

In [16]:

import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'projetodiario1'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

   id        ra  nome  tempoestudo  rendafamiliar
0   1  12345670  None            0            NaN
1   2  12345671  None            0            NaN
2   3  12345672  None            0            NaN
3   4  12345673  None            0            NaN
4   5  12345674  None            0            NaN

# Quais bibliotecas um cientista de dados utiliza?

- Pandas
- NumPy
- Fundamentos de IA (Scikit-Learn)

- Material Didático
- Pandas e NumPy (Notebook)
- Scikit-Learn (Apostila de SENAI)

# Pandas : ciencia de dados
# Sckit-Learn : elaboração de modelos de IA
# NumPy: matemática

# 05/08/2024

- Carregar dados (ok)

- Salvar um dataframe

In [17]:
csv_filename = 'alunos.csv'
df_alunos.to_csv(csv_filename,index=False)

# Eu salvei o dataframe!

# Exercicio - Salve o DataFrame no formato JSON

In [21]:
csv_filename = 'api_alunos.json'
df_alunos.to_json(csv_filename,index=False)

In [23]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [24]:
csv_filename = 'planilha_alunos.xlsx'
df_alunos.to_excel(csv_filename,index=False)

# Um novo DataFrame

In [25]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [35]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda[0:30]

    tempoestudo  rendafamiliar
0             0            NaN
1             0            NaN
2             0            NaN
3             0            NaN
4             0            NaN
5             0            NaN
6             0            NaN
7             0            NaN
8             0            NaN
9             0            NaN
10            0            NaN
11            0            NaN
12            0            NaN
13            0            NaN
14            0            NaN
15            0            NaN
16            0            NaN
17            0            NaN
18            0            NaN
19            0            NaN
20            0            NaN
21            0            NaN
22            0            NaN
23            0            NaN
24            0            NaN
25            1        4567.98
26            1        2000.00
27            2        2500.00
28            3        3000.00
29            4        3500.00

# Tipos

In [36]:
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

# Exercício: crie um recurso para mostrar apenas uma coluna. Mostre qual o tipo desse recurso.

In [37]:
serie_tempo_renda = df_tempo_renda['rendafamiliar']

In [38]:
type(serie_tempo_renda)

pandas.core.series.Series

# Revisando Funções Básicas