In [1]:
! pip install sqlalchemy pymysql pandas

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.31-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.31-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------------------ --------- 1.6/2.1 MB 10.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 9.0 MB/s eta 0:00:00
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl (16.3 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, typing-extensions, pymysql, numpy, greenlet, sqlalchemy, pandas
Successfully installed greenlet-3.0.3 numpy-2.0.1 pandas-2.2.2 pymysql-1.1.1 pytz-2024.1 sqlalchemy-2.0.31 typing-extensions-4.12.2 tzdata-2024.1

In [2]:
# Notebook Jupyter: Conectando ao MySQL com SQLAlchemy e lendo um SQL

## 1. Importando Bibliotecas


import pandas as pd
from sqlalchemy import create_engine

In [7]:
! pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.4-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Downloading mysqlclient-2.2.4-cp312-cp312-win_amd64.whl (203 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.4

In [40]:
import pymysql

In [42]:
# Definir a variável global
df_alunos = None

def test_connection():
    global df_alunos
    try:
        connection = pymysql.connect(
            host='localhost',
            user='root',
            password='senai@123',
            database='schooltracker',
            port=3306
        )
        print("Conexão bem-sucedida!")

        # Realizar a consulta
        query = "SELECT * FROM aluno"
        df_alunos = pd.read_sql(query, connection)

        # Fechar a conexão
        connection.close()
        
        print("Consulta realizada e DataFrame criado!")

    except Exception as e:
        print(f"Erro ao conectar ou consultar: {e}")

# Chamar a função para estabelecer a conexão e realizar a consulta
test_connection()

Conexão bem-sucedida!
Consulta realizada e DataFrame criado!

C:\Users\ead\AppData\Local\Temp\ipykernel_3560\3520413794.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_alunos = pd.read_sql(query, connection)

In [43]:
# Exibir o DataFrame
if df_alunos is not None:
    print(df_alunos)
else:
    print("DataFrame não foi carregado.")

     id        ra
0    57  00034548
1    58  00034549
2    59  00034550
3    60  00034551
4    61  00034552
5    62  00034553
6    63  00034554
7    64  00034555
8    65  00034556
9    66  00034557
10   67  00034558
11   68  00034559
12   69  00034560
13   70  00034561
14   71  00034562
15   72  00034563
16   73  00034564
17   74  00034565
18   75  00034566
19   76  00034567
20   77  00034568
21   78  00034569
22   79  00034570
23   80  00034571
24   81  00034572
25   82  00034573
26   83  00034574
27   84  00034575
28   85  00034576
29   86  00034577
30   87  00034578
31   88  00034579
32   89  00034580
33   90  00034581
34   91  00034582
35   92  00034583
36   93  00034584
37   94  00034585
38   95  00034586
39   96  00034587
40   97  00034588
41   98  00034589
42   99  00034590
43  100  00034591
44  101  00034592
45  102  00034593
46  103  00034594
47  104  00034595
48  105  00034596
49  106  00034597
50  107  00034598
51  108  00034599
52  109  11134548

In [44]:
df_alunos.ra

0     00034548
1     00034549
2     00034550
3     00034551
4     00034552
5     00034553
6     00034554
7     00034555
8     00034556
9     00034557
10    00034558
11    00034559
12    00034560
13    00034561
14    00034562
15    00034563
16    00034564
17    00034565
18    00034566
19    00034567
20    00034568
21    00034569
22    00034570
23    00034571
24    00034572
25    00034573
26    00034574
27    00034575
28    00034576
29    00034577
30    00034578
31    00034579
32    00034580
33    00034581
34    00034582
35    00034583
36    00034584
37    00034585
38    00034586
39    00034587
40    00034588
41    00034589
42    00034590
43    00034591
44    00034592
45    00034593
46    00034594
47    00034595
48    00034596
49    00034597
50    00034598
51    00034599
52    11134548
Name: ra, dtype: object

In [45]:
df_alunos.id

0      57
1      58
2      59
3      60
4      61
5      62
6      63
7      64
8      65
9      66
10     67
11     68
12     69
13     70
14     71
15     72
16     73
17     74
18     75
19     76
20     77
21     78
22     79
23     80
24     81
25     82
26     83
27     84
28     85
29     86
30     87
31     88
32     89
33     90
34     91
35     92
36     93
37     94
38     95
39     96
40     97
41     98
42     99
43    100
44    101
45    102
46    103
47    104
48    105
49    106
50    107
51    108
52    109
Name: id, dtype: int64

In [46]:
df_alunos.shape

(53, 2)